{
  "endOfLine": "auto",
  "semi": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
